.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-weight: bold;
  background: grey;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}
.Header {
  margin-top: 10px;
  font-size: 3em;
  align-items: flex-start;
}
.App div {
  /* border: 1px #ccc solid; */
}
.Calculate button {
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em;
}
.Warning {
  bottom: 0px;
  position: absolute;
  font-size: 0.6em;
}
